
body {
    font-family: 'Lexend', sans-serif;
}

.nav-link {
    font-size: 1.1rem;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: #495057;
    color: #ffffff;
}

.btn-primary {
    background-color: #DB4D20;
    border-color: #DB4D20;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #FF6347;
    border-color: #FF6347;
}

.profile-font {
    font-weight: 600;
    font-size: 1.2rem;
    color: #495057;
}

.img-profile {
    width: 40px;
    height: 40px;
}

/* Footer */
.footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
}
