body {
    margin-top: 20px;
    background: #eee;
}

h3 {
    font-size: 16px;
}

.text-navy {
    color: #1ab394;
}

.cart-product-imitation {
    text-align: center;
    padding-top: 30px;
    height: 80px;
    width: 80px;
    background-color: #f8f8f9;
}

.product-imitation.xl {
    padding: 120px 0;
}

.product-desc {
    padding: 20px;
    position: relative;
}

.ecommerce .fa-star {
    color: #d1dade;
}

.ecommerce .fa-star.active {
    color: #f8ac59;
}

.table.shoping-cart-table {
    margin-bottom: 0;
}

.table.shoping-cart-table tr td {
    border: none;
    text-align: right;
}

.ibox-title {
    background-color: #ffffff;
    padding: 14px 15px 7px;
    min-height: 48px;
}

.ibox-content {
    background-color: #ffffff;
    padding: 15px 20px 20px 20px;
}

